.body__style {
	background-color: #343a40;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
min-height: 100vh;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}  

h1 {
	text-align: center;
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

ul {
	list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  border: 0;
  overflow: visible;
  appearance: none;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

#homepage_body {
	min-height: 60vh;
	height: 80vh;
}

.contact__title {
	margin: 0px;
	border-top: 1px solid whitesmoke;
	color: whitesmoke;
	font-weight: bold;
	font-size: 32px;
	padding: 20px;
}

.contact__locate {
	margin-top: 60px;
}

.homepage__title {
	display: none;
}

.navbar-brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 150px;
	height: 40px;
	padding: 0;
	margin-right: 100px;
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}

.navbar-brand:hover {
	color: #ffffff;
}

.navbar-brand img {
	height: 100%;
	margin-right: 5px;
}

.phone {
	display: flex;
	align-items: center;
	fill: #ffffff;
	color: #ffffff;
}

.phone:hover {
	color: #ffffffc0;
	fill: #ffffffc0;
	text-decoration: none;
}

footer {
	padding-top: 5vh;
	background-color: #343a40;
	color: white;
}

.footer__item {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #272b30;
}

.home__description {
	text-align: center;
	padding: 0 20px;
}

.home__preview {
	padding-top: 100px;
}

form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 40px 30px;
	background-color: #00000080;
	color: white;
}

form h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
}

form p {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
}

form input,
form select,
form button,
form textarea {
	color: white;
	border: none;
	padding: 10px 15px;
	background-color: #00000080;
	appearance: none;
}

form select {
	cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: green;
    color: white;
}

form input::placeholder,
form textarea::placeholder {
	color: #ffffff80;
}

form button {
	background-color: #ffffff80;
	color: white;
	transition: all 0.3s ease;
}

form button:hover {
	background-color: white;
	color: black;
}

.contact {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	gap: 5vw;
	justify-content: center;
}

.contact__locate-map {
	width: 100%;
}

.contact__address {
	padding: 50px;
}

.contact__address h3 {
	color: black;
	font-weight: bold;
}

.contact__address-item {
	margin-top: 30px;
	padding-left: 10px;
}

.contact__address a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease;
}
.contact__address a:hover {
	color: black;
}

.container {
	margin-top: 70px;
}

/* Header */
.header__container {
	margin: 0 auto;
    padding: 0 10vw;
}

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	background-color: #343a40;
	z-index: 1000;
}

.header__wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
  
.header__list {
	padding: 15px 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	gap: 15px;
	height: 100%;
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
}  

.header__nav {
	padding-left: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header__menu {
	position: relative;
	z-index: 1000;
	display: none;
	width: 25px;
	height: 25px;
	background-color: transparent;
}

.header__menu .line {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	transition: transform 0.2s;
}

.header__menu .line:nth-of-type(1) {
	top: 1px;
}

.header__menu .line:nth-of-type(2) {
	top: 50%;
}

.header__menu .line:nth-of-type(3) {
	bottom: 0px;
}

/* Footer */
.footer__wrapper {
	margin: 0 10vw;
	display: flex;
	justify-content: center;
	gap: 5vw;
}

.copyright {
	text-align: center;
	border-top: 1px solid whitesmoke;
	width: 100vw;
	margin: 1rem 0px 2px 0px;
	font-size: 12px;
}

.footer__block {
	width: 30vw;
	height: auto;
}

.footer__text {
	padding-top: 7px;
	font-size: 16px;
	font-weight: normal;
	text-align: start;
}

.footer__text-name {
	padding-left: 5px;
	font-size: 18px;
}

.footer__text-title {
	text-align: center;
}

.footer__text-subtitle {
	font-weight: bolder;
	text-align: center;
	border-bottom: 1px solid gray;
	border-radius: 5px;
}

.footer__text-date {
	padding-top: 7px;
	font-weight: bolder;
	text-align: center;
}

.footer__text-contact {
	display: block;
	padding-bottom: 1rem;
	width: 100%;
	font-size: 14px;
	text-align: center;
}

@media screen and (max-width: 1440px) {
	.service-types__item .item__image {
		width: 470px;
		height: 300px;
	}
}

@media screen and (max-width: 991px) {
	nav {
		flex-direction: column;
		align-items: center;
	}

	.nav-link {
		text-align: center;
	}

	.phone {
		justify-content: center;
	}

	.header__container {
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.header__menu {
	display: block;
	position: relative;
	}
	.header__menu--active {
	justify-content: center;
	}
	
	.header__menu--active .line:nth-child(1) {
	top: 50%;
	transform: rotate(45deg);
	}

	.header__menu--active .line:nth-child(2) {
	display: none;
	}

	.header__menu--active .line:nth-child(3) {
	top: 50%;
	transform: rotate(-45deg);
	}

	.header__nav {
	padding-left: 0;
	position: fixed;
	top: 0;
	right: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #343a40;
	transition: all 0.6s;
	}

	.header__nav--active {
	animation-name: menu-active;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	transition: all 0.6s;
	background-color: #343a40;;
	right: 0;
	}

	.header__list {
	gap: 30px;
	font-size: 16px;
	flex-direction: column;
	justify-content: center;
	height: auto;
	}

	.button__header {
	margin-top: 30px;
	}

	.header {
	position: fixed;
	height: 50px;
	background-color: #343a40;;
	transition: transform 0.6s linear;
	}
	
	.header.hide {
	transform: translateY(-50px);
	}

	.header__logo {
	padding-top: 3px;
	scale: 0.77;
	}

	.footer__text-contact {
		word-wrap: break-word;
	}
}

@media screen and (max-width: 741px) {
	.footer__wrapper {
	flex-direction: column;
	}
 
	.footer__block {
		width: auto;
		justify-content: center;
	}

	.footer__text {
		text-align: center;
	}
}

.registration-error {
	color: red;
}